name: Unity Job Checker

on:
  schedule:
    - cron: "0 * * * *"  # every hour
  workflow_dispatch:

jobs:
  check-jobs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run job checker
        run: node index.js
        env:
          SERVICE_ID: ${{ secrets.SERVICE_ID }}
          TEMPLATE_ID: ${{ secrets.TEMPLATE_ID }}
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}